Flask==2.2.2
Pillow==8.4.0
ultralytics==8.0.209  # Adjust to the latest compatible version
google-generativeai==0.7.0
torch>=1.7.1,<=2.0.1  # Ensure compatibility with YOLOv8
numpy>=1.21.0         # YOLOv8 and Torch dependency
opencv-python-headless==4.5.5.64  # Used by YOLOv8
requests>=2.26.0      # Required for API interactions
gunicorn
